In [18]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")

In [19]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1 задание
### Количество выживших и погибших?
Ответ: 342 выживших и 549 погибших

In [20]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

## 2 задание

### Количество строк в таблице после удаления всех строк с пропущенными данными?
Ответ: 183

In [22]:
len(df.dropna().index)

183

## 3 задание

### У какого количества пассажиров не указан порт?
Ответ: 2

In [24]:
df['Embarked'].isna().sum()

2

## 4 задание

### Количество уникальных кают, только для непустых данных по номеру?
Ответ: 147

In [27]:
len(df['Cabin'].dropna().unique())

147

## 5 задание

### 75% пассажиров заплатило не более F$?

In [28]:
df['Fare'].quantile(0.75)

31.0

## 6 задание

### Средний возраст пассажиров на Титанике с учетом того, что все пропущенные данные заполнить медианой?
Ответ: 29.36

In [29]:
df['Age'].fillna(df['Age'].median()).mean()

29.36158249158249

## 7 задание

### 95% людей имеет не более W слов в имени пассажира?