In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")

In [25]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1 задание
### Количество выживших и погибших?
Ответ: 342 выживших и 549 погибших

In [26]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

## 2 задание

### Количество строк в таблице после удаления всех строк с пропущенными данными?
Ответ: 183

In [27]:
len(df.dropna().index)

183

## 3 задание

### У какого количества пассажиров не указан порт?
Ответ: 2

In [6]:
df['Embarked'].isna().sum()

2

## 4 задание

### Количество уникальных кают, только для непустых данных по номеру?
Ответ: 147

In [7]:
len(df['Cabin'].dropna().unique())

147

## 5 задание

### 75% пассажиров заплатило не более F$?

In [8]:
df['Fare'].quantile(0.75)

31.0

## 6 задание

### Средний возраст пассажиров на Титанике с учетом того, что все пропущенные данные заполнить медианой?
Ответ: 29.36

In [9]:
df['Age'].fillna(df['Age'].median()).mean()

29.36158249158249

## 7 задание

### 95% людей имеет не более W слов в имени пассажира?
Ответ: 7

In [22]:
df.Name.apply(lambda x: len(x.split())).quantile(0.95)
# df.Name.apply(lambda x: len(x.split()))
# df['Name'].str.split().map(len)

7.0

## 8 задание

### Топ 5 сокращений / обращений в порядке убывания

Ответ: Mr -- 517, Miss -- 182, Mrs -- 125, William -- 62, John -- 44

In [41]:
df.Name.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).sort_values()

("Mary")        1.0
Risien,         1.0
LeRoy,          1.0
Willingham      1.0
Archibald       1.0
              ...
John           44.0
William        62.0
Mrs.          125.0
Miss.         182.0
Mr.           517.0
Length: 1674, dtype: float64

## 9 задание

### Выживаемость относительно пола (в процентах)?

Ответ: 18.88 и 74.2 процентов от мужчин и женщин выжило (точность до сотых)

In [46]:
df.groupby('Sex').Survived.mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

## 10 задание

### На каком месте по относительной выживаемости люди, у которых на борту не было ни родственников ни родителей?

Ответ: целое число

In [57]:
survivors_data = df[df.Survived==True]
survivors_data.groupby(['SibSp', 'Parch']).Survived.count().sort_values()
#df.groupby(['SibSp', 'Parch']).Survived.count().sort_values()

SibSp  Parch
0      3          1
1      3          1
       5          1
2      3          1
       2          2
3      0          2
       2          2
4      2          3
2      0          4
       1          6
1      2         12
0      2         21
       1         25
1      1         34
       0         64
0      0        163
Name: Survived, dtype: int64