In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1 задание
### Количество выживших и погибших?
Ответ: 342 выжило, 549 погибло

In [58]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

## 2 задание

### Количество строк в таблице после удаления всех строк с пропущенными данными?
Ответ: 183

In [5]:
len(df.dropna().index)

183

## 3 задание

### У какого количества пассажиров не указан порт?
Ответ: 2

In [6]:
df['Embarked'].isna().sum()

2

## 4 задание

### Количество уникальных кают, только для непустых данных по номеру?
Ответ: 147

In [7]:
len(df['Cabin'].dropna().unique())

147

## 5 задание

### 75% пассажиров заплатило не более F$?
Ответ: 31.00

In [11]:
df['Fare'].quantile(0.75)

31.0

## 6 задание

### Средний возраст пассажиров на Титанике с учетом того, что все пропущенные данные заполнить медианой?
Ответ: 29.36

In [12]:
df['Age'].fillna(df['Age'].median()).mean()

29.36158249158249

## 7 задание

### 95% людей имеет не более W слов в имени пассажира?
Ответ: 7

In [22]:
df.Name.apply(lambda x: len(x.split())).quantile(0.95)
# df.Name.apply(lambda x: len(x.split()))
# df['Name'].str.split().map(len)

7.0

## 8 задание

### Топ 5 сокращений / обращений в порядке убывания

Ответ: Mr -- 502, Miss -- 179, Mrs -- 121, Master -- 40, Dr -- 7

In [18]:
df.Name.str.split(' ').str[1].value_counts()

Mr.             502
Miss.           179
Mrs.            121
Master.          40
Dr.               7
Rev.              6
y                 4
Planke,           3
Impe,             3
Gordon,           2
Col.              2
Mlle.             2
Major.            2
Melkebeke,        1
Jonkheer.         1
Shawah,           1
the               1
Velde,            1
Capt.             1
Messemaeker,      1
Carlo,            1
Ms.               1
Mme.              1
Steen,            1
Mulder,           1
Pelsmaeker,       1
Walle,            1
der               1
Billiard,         1
Don.              1
Cruyssen,         1
Name: Name, dtype: int64

## 9 задание

### Выживаемость относительно пола (в процентах)?

Ответ: M 18.89 и F 74.20

In [46]:
df.groupby('Sex').Survived.mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

## 10 задание

### На каком месте по относительной выживаемости люди, у которых на борту не было ни родственников ни родителей?

Ответ: 1

In [58]:
survivors_data = df[df.Survived==True]
survivors_data.groupby(['SibSp', 'Parch']).Survived.count().sort_values()

SibSp  Parch
0      3          1
1      3          1
       5          1
2      3          1
       2          2
3      0          2
       2          2
4      2          3
2      0          4
       1          6
1      2         12
0      2         21
       1         25
1      1         34
       0         64
0      0        163
Name: Survived, dtype: int64

In [23]:
survivors_data = df[df.Survived==False]
survivors_data.groupby(['SibSp', 'Parch']).Survived.count().sort_values()

SibSp  Parch
0      4          1
2      1          1
1      6          1
       5          2
0      5          2
2      2          2
1      3          2
       4          3
3      2          5
5      2          5
4      2          6
3      1          7
8      2          7
1      2          7
0      2          8
4      1          9
2      0         12
0      1         13
1      1         23
       0         59
0      0        374
Name: Survived, dtype: int64

In [42]:
163 / (374+163)

0.30353817504655495

In [43]:
64 / (59+64)

0.5203252032520326

In [44]:
34 / (23+34)

0.5964912280701754

In [45]:
25 / (25+13)

0.6578947368421053

In [46]:
21 / (21+8)

0.7241379310344828

In [47]:
12 / (12+7)

0.631578947368421

In [48]:
6 / 7

0.8571428571428571

In [49]:
4 / 16

0.25

In [50]:
3 / 9

0.3333333333333333

In [51]:
2 / 7

0.2857142857142857

In [52]:
3 / 3

1.0

In [53]:
2 / 2

1.0

In [54]:
1 / 1

1.0

In [55]:
1 / 3

0.3333333333333333

In [56]:
1 / 3

0.3333333333333333

In [57]:
1 / 1

1.0